<mat-sidenav-container>
  <!-- 
Two-way data binding(Enlace de datos bidireccional) con los parentesis () -->
  <mat-sidenav #sidenav mode="side" [(opened)] = "opened">
    <mat-toolbar color="primary" (click)="sidenav.close()">
      Menu
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- en el componente header se medite toggleSidenav ES IGUAL QUE EN VUE -->
    <app-header (toggeSidenav)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
